*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    background: rgb(0, 0, 0);
    /*background: rgb(38,50,156);
    background: linear-gradient(0deg, rgba(38,50,156,1) 10%, rgba(0,0,0,1) 63%);*/
    color: white;

}

.profile{
    text-align: center;
    margin-top: 25px;
}

.profilesite{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5%;
}

.social{
    display: flex;
    justify-content: space-around;
    list-style: none; 
    margin: 20px 0;
    
    /* list-style: Remove o marcador da lista*/
    /* justify-content - Só funciona quando tem FlexBox*/
    /* display:flex - Essa propriedade faz com que todas as tags filhas recebam o Flex Box, ou sexa ficam uma ao lado da outra*/
}

.social img{
    width: 33px;
}

.avatar{
    width: 80px;
    padding: 3px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;

}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 10px;
}

h2{
    font-size: 16px;
}

.linksList{
    list-style: none;
    text-align: center;
}

.linksList li{
    margin: 10px 20px;
}

.emConstrucao li{
    margin: 10px 20px;
    list-style: none;
}

.emConstrucao li h1{
    display: block;
    padding: 30px 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    
}

.emConstrucao li img{
    padding-top: 50px;
    width: 80%;
}

.linksList li a{ 
    background: white;
    display: block;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;


    /* display: block - A tag a vem com Display: inline, por padrão. Tudo na mesma linha, neste caso mudei para block, separa em blocos uma abaixo do outro*/
}

.linksList li a span{
    color: rgb(49, 49, 49);
    display: block;
    margin-top: 10px;
}